/* 
 body{
    margin: 4%;
}
header{
  /* background: #00ff00 url("imgs/oceans.jpg") no-repeat fixed center; 
  background: #00b7ea;
  text-align: center;
  padding: 15px;
}
section{
  width: 30%;
  display: inline-block;
  float: left;
  margin-right: 2%
}
footer{
  clear:both;
}
img{
  width:75px;
}
body{
  margin: 4%;
    background: #FFFF00;
    background: url('../support/img/4.png');
  background-position: center center;
  background-size: 100% 100%;
}
.dx{
    overflow-y: hidden;
    white-space: nowrap;
    }
.xc{
    display:inline-block;
    margin-right: 0%
    }
  .vd {
    padding: 15px;
     display：center；
  }
    background: url('../img/triangleSmall.jpg') fixed;
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
html,body{
    height: 100%;
    background-color:#rgb(240, 240, 240)
}
header{
  background: #2b2a2a;
  width:100%;
  position: fixed;
  text-align: center;
  padding: 0px 15px 6px 15px;
  z-index:100;
}
h1{
  text-align: left;
  color:#ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#logo{
  float: right;
  position: fixed right;
  margin-top:1%;
  margin-right:2%;
}
nav{
font-variant: small-caps;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 150%;
}
nav ul {
list-style: none;
background: #2b2a2a;
text-align: center;
padding: 0;
margin: 0;
}

nav li {
  width: 20%;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  margin-right: -4px;
}

nav a {
text-decoration: none;
color: #fff;
display: block;
padding-left: 8px;
transition: .5s background-color, color;
}

nav a:hover {
background-color: #ffffff;
color:#000000;
}

nav a.active {
background-color: #aaa;
color: #444;
cursor: default;
}

/* Sub Menus */
nav li li {
font-size: .7em;
}

nav > ul > li {
 text-align: center;
}

nav > ul > li > a {
  padding-left: 0;
}

/* Sub Menus */
nav li ul {
  position: absolute;
  display: none;
  width: inherit;
}
@media only screen and (min-width: 1200px) {
nav li:hover ul {
 display: block;
}
}
nav li ul li {
 display: block;
}
.pb-carouselWarp {
    position: relative;
    width: 86%;
    height: 60%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  .pb-carouselWarp {
    width: 100%;
    height: 90%;
}
  }
.pb-carouselWarp .pb-carousel {
  position: relative;
  height: 100%;
}
.pb-carouselWarp .pb-carousel li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pb-carouselWarp .pb-carousel li img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
@media only screen and (min-width: 1200px) {
  .pb-carouselWarp .pb-carousel li img {
    width: 100%;
    height: auto;
  }
}
.pb-carouselWarp .pb-carousel .pb-this {
  display: block;
  left: 0;
}
.pb-carouselWarp .pb-carousel-ind {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.pb-carouselWarp .pb-carousel-ind li {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}
.pb-carouselWarp .pb-carousel-ind .pb-this {
  background-color: #000;
}
.pb-carouselWarp .pb-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: none;
}
.pb-carouselWarp .pb-arrow-prev {
  left: 20px;
  background: #000000 url(../img/arrow-left.png) no-repeat center;
}
.pb-carouselWarp .pb-arrow-next {
  right: 20px;
  background: #000000 url(../img/arrow-right.png) no-repeat center;
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind {
  position: absolute;
  width: 15px;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 20px;
  transform: translateY(-50%);
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind li {
  float: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 5px 0;
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind .pb-this {
  background-color: #000;
}
.pb-carouselWarp[type='updown'] .pb-arrow {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -20px;
  margin-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.pb-carouselWarp[type='updown'] .pb-arrow-prev {
  top: 20px;
  background: #000000 url(../img/arrow-top.png) no-repeat center;
}
.pb-carouselWarp[type='updown'] .pb-arrow-next {
  top: auto;
  bottom: 20px;
  background: #000000 url(../img/arrow-bottom.png) no-repeat center;
}
/* Sub Menus */
a:hover{
  opacity:1;
}
.current{
  color: #05eb9e;
}
/* 四方图块 */
section a{
  text-decoration:none;
  opacity:0.8;
  transition: .5s;
}
.xc{
  display: block;
  padding-bottom: 2%;
}
.category0{
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}
.category{
  display:none;
}

@media only screen and (min-width: 1200px) {
  .category0{
  display:none;
  }
  .category{
    display: inline-block;
    margin-left: 7%;
    margin-right: auto;
  }
  .xc{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-left: 1%;
    padding-bottom: 1%;
  }
}
.vd{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}
.chin{
  font-family: 
  "Microsoft YaHei", "微软雅黑",
  sans-serif;
}
.eng{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.mainCompany{ 
  background: #d1cfcf;
  color: rgb(0, 0, 0);
	font-variant: small-caps;
  font-size: 145%;
  padding-left:2%;
  padding-right:2%;
  margin-left: 7%;
  margin-right: 7%;

}

footer{
  background: #2b2a2a;
  text-align: center;
  padding:15px;
}
.foot{
  color:#ffffff;
}

.contact{
  background: #ffffff;
  color: rgb(98, 107, 105);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left:5%;
  margin-left: 20%;
  margin-right: 20%;
}
.cti{
  margin-left: 40%;
  margin-right: 40%;
}

.image{
   display:block;
   margin-left: 45%;
   margin-right:45%;
}
.description {
  background: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
padding-left: 4%;
padding-right: 4%;
padding-top: 2%;
padding-bottom: 2%;
color: rgb(98, 107, 105);
}
.descriptionchin {
  background: #ffffff;
  font-family: 
  "Microsoft YaHei", "微软雅黑",
  sans-serif;
  font-size: 115%;
padding-left: 20px;
padding-right: 20px;
color: rgb(98, 107, 105);
}
#wufoo{
  margin-left: auto;
  margin-right: auto;
  width:100%
}
iframe{
  margin-left: auto;
  margin-right: auto;
  width:100%
}
.projectpics{
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}
.prchin{
  font-family: 
  "Microsoft YaHei", "微软雅黑",
  sans-serif;
  background:  #7c7b7b;
  color:#ffffff;
  font-size: 145%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;

}
/* Media query */
@media only screen and (min-width: 1200px) {
  .mainCompany{ 

    padding-left:22%;
    padding-right:22%;
    margin-left: 8%;
    margin-right: 7.2%;
  
  }
  .image{
    display:inline-block;
    margin-left: 0%;
    margin-right:0%
  }
  .vd{
    width: 60%;
  }
  .description {
  max-width: 705px;
  }
  .descriptionchin {
  max-width: 705px;
  }
  .app {
  
    align-items: start;
    display: -webkit-flex;
    display: flex;
    padding-left:5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  #wufoo{
    margin-left: 0%;
    margin-right: 25%;
    width:75%
  }
  iframe{
    margin-left: 15%;
    margin-right: 15%;
    width:70%;

  }
  .projectpics{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .prchin{
    font-family: 
    "Microsoft YaHei", "微软雅黑",
    sans-serif;
    background:  #7c7b7b;
    color:#ffffff;
    font-size: 145%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  
  }
 }
